<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UnilifeClassesRoomsDiplomDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <UnilifeClassesRoomsDiplomDesktop.Properties.Settings>
      <setting name="Login" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="HashKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>720</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>1280</value>
      </setting>
      <setting name="WindowsState" serializeAs="String">
        <value />
      </setting>
    </UnilifeClassesRoomsDiplomDesktop.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="UnilifeDB" connectionString="data source=DESKTOP-T7RVJQ8;initial catalog=Diplom;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IUnilifeClassesRoomsDiplomServerDDL"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8302/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IUnilifeClassesRoomsDiplomServerDDL"
        contract="UnilifeServiceReference.IUnilifeClassesRoomsDiplomServerDDL"
        name="NetTcpBinding_IUnilifeClassesRoomsDiplomServerDDL" />
    </client>
  </system.serviceModel>
</configuration>